---
- name: Requesting API authentification token
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    method: POST
    body: "{{lookup('template','templates/auth.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  register: z_firstquery
  tags:
    - auth

- name: Parsing the authentification request to extract the token
  set_fact: "z_authtoken={{z_firstquery.json.result}}"
  tags:
    - auth

- name: Getting IDs of all web scenarios to delete (via Zabbix API)
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    body: "{{lookup('template','templates/get_site.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  register: httptestidquery
  when: "state == 'absent'"
  tags:
    - delete

- name: Deleting the supposed absent web scenarios in Zabbix
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    method: POST
    body: "{{lookup('template','templates/del_site.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  when: "state == 'absent'"
  tags:
    - delete

- name: Getting the hostid of the default http poller (via Zabbix API)
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    body: "{{lookup('template','templates/get_host.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  register: hostidquery
  tags:
    - add
    
- name: Parsing the get_site request to extract the hostid
  set_fact: "hostid={{hostidquery.json.result.0.hostid}}"
  tags:
    - add

- name: Adding web scenarios (zabbix API handles the indepotency)
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    method: POST
    body: "{{lookup('template','templates/add_web.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  when: "state == 'present'"
  tags:
    - add

# - name: Adding associated triggers (zabbix API handles the indepotency)
#   uri:
#     url: "{{ server_url }}/api_jsonrpc.php"
#     return_content: yes
#     method: POST
#     body: "{{lookup('template','templates/add_trigger.j2')}}"
#     body_format: json
#     headers:
#       Content-Type: "application/json-rpc"
#   when: "state == 'present'"
#   tags:
#     - add
#     - trigger

- name: Logging out from Zabbix API
  uri:
    url: "{{ server_url }}/api_jsonrpc.php"
    return_content: yes
    method: POST
    body: "{{lookup('template','templates/logout.j2')}}"
    body_format: json
    headers:
      Content-Type: "application/json-rpc"
  tags:
    - auth
