{
   "jsonrpc": "2.0",
   "method": "httptest.create",
   "params": {
      "name": "{{ name }}",
      "hostid": "{{ hostid }}",
      {% if application is defined %}
      "applicationid": "{{ applicationid }}",
      {% endif %}
      "delay": "{{ interval }}",
      "retries": "{{ regries }}",
      "agent": "{{ agent }}",
      {% if auth is defined %}
      "authentication": 1,
      "http_user": "{{ auth.http_user }}",
      "http_password": "{{ auth.http_password }}",
      {% endif %}
      {% if item.ssl_verify_peer is not defined or item.ssl_verify_peer != 'no' %}
      "verify_peer": 1,
      {% endif %}
      {% if item.ssl_verify_host is not defined or item.ssl_verify_host != 'no' %}
      "verify_host": 1,
      {% endif %}
      "steps": [
         {% for step in steps %}
         {
            "name": "{{ step.name }}",
            "no": {{ loop.index }},
            "url": "{{ step.url }}",
            {% if step.follow_redirects is defined %}
            "follow_redirects": {{ step.follow_redirects }},
            {% endif %}
            {% if step.posts is defined %}
            "posts": "{{ step.posts }}",
            {% endif %}
            {% if step.required is defined %}
            "required": "{{ step.required }}",
            {% endif %}
            "retrieve_mode": "{% if (step.method is defined and step.method == 'GET') or step.required is defined %}0{% else %}1{% endif %}",
            "status_codes": "{{ step.status_codes|default('200') }}",
            {% if step.timeout is defined %}
            "follow_redirects": {{ step.timeout }},
            {% endif %}
         },
         {% endfor %}
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
