{
   "jsonrpc": "2.0",
   "method": "application.get",
   "params": {
      "hostids": "{{ hostid }}",
      "output": [
         "name",
         "applicationids",
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
