{
   "jsonrpc": "2.0",
   "method": "httptest.get",
   "params": {
      "filter": {
         "name": "{{ name }}"
      },
      "output": [
         "httptestid"
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
